header{
    color: #fff;
}

.header{
  width: 100%;
  height: 40vh;
}

nav{
     background-color: $grisClair;
     color:#fff;
}

.wrap-menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    & > div{
       margin-right: 25px;
        text-align: right;
    }

     &> div:last-of-type {
         margin-right: 0px;
         text-align: right;
     }
}


@media all and (min-width:768px){
    .header{
        height: 60vh;
    }
}

@media all and(min-width:992px){
    .header {
        height: 80vh;
    }
}